<ion-content fullscreen class="ion-padding bgColor" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="/assets/images/slider-welcome/01.png" />
        <h2>Bem-Vindo</h2>
        <p>Ao <b>Car Wash</b> um sistema pratico onde você possa agendar a limpeza do veículo atraves de um clique.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="/assets/images/slider-welcome/02.png" />
      <h2>Quem e Car Wash?</h2>
      <p><b>Carwash</b> e uma empresa de detalhamento automotivo onde o cliente possa agendar seus serviços atraves do
        aplicativo e escolher qual tratamento deseja.
        Sem contar com os planos que são vendidos pela empresa onde você possa contratar e ter um serviço mensal.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/images/slider-welcome/03.png" />
      <h2>Por que a Car Wash?</h2>
      <p>Porque temos os melhores profissionais da area formados para aplicar o melhor tratamento e realizar o melhor procedimento do seu veículo.</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/images/slider-welcome/04.png" />
      <h2>Começe a usar</h2>
      <ion-button fill="clear" (click)="routerLogin()">Entrar <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>