<ion-content fullscreen class="bgColor" scroll-y="false">
  <div class="loginDiv" style="padding: 7.5%;">
    <div class="row">
      <div class="col-7">
        <span class="title">Bem <br> Vindo</span>
      </div>
      <div class="col-5">
        <div class="box">
          <img src="/assets/images/logo.png" alt="" srcset="">
        </div>
      </div>
    </div>
    <div class="row login-p">
      <form [formGroup]="form">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input matInput type="email" placeholder="Ex. cliente@email.com" formControlName="email">
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ex. minhasenha08@" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="text-center">
          <button (click)="go()" mat-raised-button class="col-12" color="primary">Entrar</button> 
          <span [routerLink]="[ '/auth/register']">Não possui conta? Crie agora</span>
        </div>
      </form>
    </div>
  </div>
</ion-content>