.bgColor {
    --background: url('/assets/images/wallpapers/welcome.jpg')
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.loginDiv {
    margin-top: 32%;
    height: 82%;
    width: 100%;
    background-color: #EDF8FD;
    opacity: 0.86;
    border-radius: 10px;
}

.login-p{
    margin-top: 25%;
}

.box{
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 25%;
    float: right;
}

.title{
    font-family: 'Meta Pro Cond Black';
    letter-spacing: 1.6px;
    line-height: 40px;
    font-size: xx-large;
}