.title-car {
    font-family: "Geomanist";
    font-weight: bold;
    color: #1A232F;
}
.subtitle-car{
    font-family: "Geomanist";
    font-weight: bold;
    color: #1A232F;
}
.title-bs{
    font-family: 'Meta Pro Cond Black';
    letter-spacing: 1.6px;
    line-height: 40px;
}
