<div class="header">
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <span class="txt-span">Olá,</span><br>
        <span class="txt-name">Danilo Sérvulo Bispo</span>
      </ion-col>
      <ion-col size="3">
        <div class="txt-center">
          <img
            class="img-profile"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWAs4CP0ciAEsglSOZ9LDNROB5ThMOkPC3eLGDu8SpuBHaG6NrxrrtX3Nkbf1wzdofLMo&usqp=CAU"
            alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>