.bgColor {
    --background: url('/assets/images/wallpapers/register.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.loginDiv {
    margin-top: 20%;
    height: 90%;
    width: 100%;
    background-color: #fff;
    opacity: 0.84;
    border-radius: 10px;
}

.login-p {
    margin-top: 12.5%;
}

.box {
    height: 80px;
    width: 80px;
    border-radius: 25%;
    float: right;
}

.title {
    font-size: 40px;
    font-family: "Meta Pro Cond Black";
    letter-spacing: 1.6px;
    line-height: 40px;
}
